%% Config file for REC side and for mainCtrl process
%% NOTE - configPlay.m overrides these settings in mainPlay process - both are loaded

% samplerate - same for REC and PLAY. Different samplerates NOT supported (yet)!
playRecConfig.sampleRate = 48000;

% capture/recording playrec device name (distinctive substring) - see output of mainListPlayrecDevs.m
% typically the physical soundcard
playRecConfig.recDevice = 'emu2ch'; % EMU

% playback playrec device name - see output of mainListPlayrecDevs.m
% typically the looback device
playRecConfig.playDevice = 'octave_loop';
