%% Config file for REC side and for mainCtrl process
%% NOTE - configPlay.m overrides these settings in mainPlay process - both are loaded

% samplerate - same for REC and PLAY. Different samplerates NOT supported!
playRecConfig.sampleRate = 48000;

% capture/recording playrec device ID - see output of mainListPlayrecDevs.m
% typically the physical soundcard
playRecConfig.recDeviceID = 23; % EMU

% playback playrec device ID - see output of mainListPlayrecDevs.m
% typically the looback device
playRecConfig.playDeviceID = 21; % loop 0

% "executive" sound device ID in the other direction
playRecConfig.otherDeviceID = 8; % infrasonic